# pipenv --python `which python3`

[[source]]
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"
pep8 = "*"
yapf = "*"

[packages]
ipykernel = "*"
jupyter = "*"
matplotlib = "*"
pandas = "*"
scipy = "*"
pillow = "*"

[requires]
python_version = "3.7"
